@media only screen and (min-width: 768px) {
	.navbar-custom .nav .open .dropdown-menu li a {
    color: black;
    padding: 20px;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #f1f1f1;
}

blockquote > p {
  margin: 0;
}
